@model DISamples.NoLayers.Models.Product

<!DOCTYPE html>

<html>
<head>
    <title>Edit</title>
</head>
<body>
    <div>
        @using (Html.BeginForm("Edit", "Product"))
        {
            <fieldset>
                @Html.Label("Name")
                @Html.TextBox("Name", Model.Name)<br />
                @Html.Label("Product Number")
                @Html.TextBox("ProductNumber", Model.ProductNumber)<br />
                @Html.Label("List Price")
                @Html.TextBox("ListPrice", Model.ListPrice)
            </fieldset>
            <button>Save</button>
        }
    </div>
</body>
</html>
